<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5">
                <% users.forEach(user => { %>
                    <h1><%= user.firstName + ' ' + user.lastName %></h1>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>